
.tableBoxing > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableBoxing > div> h2{
    font-size: 4rem;
    margin-bottom: 40px;
}
#table {
    display: grid;
    margin:auto;
    position: relative;
    min-width: 50%;
    max-width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.904);
}
#table>div.thead{
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.4fr;
    grid-template-rows:0.2fr;
    max-height: 20%;
}
#table>div.tbody{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.4fr;
    grid-template-rows:0.2fr;
    max-height: 90%;
}
thead,tbody,tr {
    height: 1px;
    padding: 2px;
    display: contents;
}

.thead>h3 {

    display:block;
    top: 0;
    position: sticky;
    text-align: left;
    font-weight: 400;
    font-size: 3rem;
    color: red;
    font-family: 'Roboto', sans-serif
}

.tbody>h5 {
    max-width: 100px;
    min-height: 40px;
    width: 100%;
    margin: 7px 10px;
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif
}

#table::-webkit-scrollbar-thumb {
    background-color: red;
}

.skeleton {
    display: grid;
    position: relative;
    animation: skeleton-loading 1s linear infinite alternate;
    grid-column: 1/3;
    height: 30px;
    margin: 15px 2px;
    border-radius: 0.5rem;
}
.react-loading-skeleton {
    --base-color: #ff00001a;
    --highlight-color: #ff000023;
    --animation-duration: 1.5s;
    --animation-direction: normal;
    --pseudo-element-display: block;
    width: 95%;
    border-radius: 0.5rem;
    display: inline-flex;
    line-height: 1;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@keyframes skeleton-loading {
0% {
    background-color: hsla(0, 65%, 28%, 0.301);
}
100% {
    background-color: hsla(0, 100%, 50%, 0.192);
}
}


@media screen and (max-width: 550px){
    th {
        font-size: 2rem;
    }
    td {
        font-size: 1.2rem;
    }
    .tableBoxing > div> h2{
        font-size: 2rem;
        margin-bottom: 40px;
        margin-top: 40px;
        
    }
    table{
        grid-template-columns: 0.6fr 2fr 2fr;
        min-width: 100%;
        height: 400px;
    }
}

@media screen and (orientation:landscape) and (max-height: 700px) {
    .tableBoxing > div> h2 {
        font-size: 2rem;
    }
    #table {
        height: 400px;
    }
    .thead>h3 {
        font-size: 2rem;
    }
}





