video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: -2;
    object-fit: cover;
}
.pantalla {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.60;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}