.ggrop {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10%;
    right: 20%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .ggrop{
        position: absolute;
        bottom: 5%;
        right: 10%;
        font-size: 0.7rem;
    }
}